.big-circ, .small-circ{
    display: flex;
    position: absolute;
    justify-content: center;
    top: 40%;
    left: 20%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    color: #E6FA84;
}
.small-circ {
    margin-top: 2%;
    margin-left: 2%;
    color: #8DA805;
}