:root {
    --lime: #BBF100;
    --yellow: #F2D20C;
    --pink: #F218A0;
    --blue: #57C4E5;
    background-color: #F7EDF0;
    overflow-x: clip;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;  /* IE and Edge *!*/
    scrollbar-width: none;  /* Firefox *!*/
}
body, p {
    font: 700 30px Chillax;
    color: #191919;
    margin: 0;
}
h1 {
    font: 900 130px Outfit;
    letter-spacing: -2px;
    color: #191919;
}
a {
    text-decoration: none;
    font: 700 30px Outfit;
    color: #191919;
}

footer {
    padding-right: 2vw;
    text-align: right;
}
.intro-box {
    display: flex;
    flex-flow: row nowrap;
    width: 90 vw;
    height: 200px;
    margin: 0 2vw;
    justify-content: space-between;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

.main-content {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
}

.section {
    height: 30vh;
    width:100vw;
    margin-top: -13px;
    padding-left: 4vw;
    font: 750 80px Outfit;
    border: 13px solid #191919;
    line-height: 30vh;
}

.about {
    background-color:#BBF100;
}
.about:hover {
    background-color:#5D30FF;
}

.projects {
    background-color: #E2B6CF;
}
.projects:hover {
    background-color: #518F6C;
}

.fun {
    background-color:#F9E900;
}
.fun:hover {
    background-color: #353DB0;
}

.contact {
    background-color:#FF4000;

}
.contact:hover {
    background-color: #26B4E3;

}