/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-align: center;
    overflow-x: clip;
    font-size: 18px;
    -ms-overflow-style: none;  /* IE and Edge *!*/
    scrollbar-width: none;  /* Firefox *!*/
}

/* Theme changing slider */
.switch {
    position: fixed;
    right: 26px;
    top: 78px;
    display: inline-block;
    width: 46px;
    height: 26px;
    z-index: 100;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F6EFEE;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 26px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: #FE5DA0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #090540;
}
input:focus + .slider {
    box-shadow: 0 0 1px #090540;
}
input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Tron body theme */
.tron-theme {
    background: #090540;
    color: #61f349;
    font-family: 'Tabular', monospace, sans-serif;
}

/* Color body theme */
.color-theme {
    background: #F6EFEE;
    color: #1E1E24;
    font-family: 'Outfit', sans-serif;
}

.color-theme .center-container {
    position: relative;
    height: auto;
    width: 78%;
}

h1, h2 {
    font-size: 120px;
    font-weight: 700;
}
.tron-theme h1, .tron-theme h2 {
    font-family: 'Array', sans-serif;
    color: rgba(248,217,18,1);
    text-shadow: 5px 5px #E02B32;
}

.color-theme h1, .color-theme h2 {
    font-family: 'Fredoka', sans-serif;
}

.section {
    margin-top: -65px;
    margin-bottom: 30px;
    padding-top: 105px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

.tron-theme h2 {
    text-shadow: 3px 3px #E02B32;
}

h3 {
  font-size: 20px;
}

a {
    text-decoration: none;
}

#top-cheat {
    position: absolute;
    top: 0;
    height: 0;
    visibility: hidden;
}

.big-papa {
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background: none;
}

.to-top-btn {
    position: fixed;
    bottom: 8%;
    right: 0;
    height: 40px;
    width: 96px;
    transform: rotate(90deg);
    text-shadow: 4px 0 #E02B32;
    font-size: 30px;
    font-weight: 700;
    justify-content: end;
    align-content: end;
    font-family: 'Array', sans-serif;
}
.tron-theme .arrow {
    display: none;
}
.color-theme .words {
    display: none;
}
.color-theme .arrow {
    position: absolute;
    bottom: -20px;
    left: 18px;
}
.color-theme .arrow-img {
    transform: rotate(-90deg);
}
.landing-page {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.color-theme .landing-page {
    height: 85vh;
    margin-top: 15vh;
}
.tron-theme .name-border {
    display: none;
}

.color-theme .name-border {
    position: absolute;
    left: 0;
    width: 82%;
    margin-left: 9%;
}
.name-bar {
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vw;
}

.tron-theme .name-bar {
    top: 35vh;
    width: 82%;
    height: 16vw;
    border-radius: 50px;
    border: 20px solid #64FA49;
}

.color-theme .name-bar {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #BBF100;
}

.tron-theme .bordered {
    display: none;
}
.color-theme .bordered {
    color: #6D8812;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #6D8812;
}



.nav-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    margin: 0;
    padding: 0;
}

.tron-theme .nav-box {
    background: #090540;
}

.tron-theme .nav-box:start {
    background: #090540;
}

.color-theme .nav-box {
    background: #F6EFEE;
}

.color-theme .nav-box:start {
    background: #F6EFEE;
}

.nav-list {
    width: 90%;
    margin-inline: 5%;
    margin-block: 15px;
    padding: 0;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    -webkit-align-content: space-between;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    font-size: 30pt;
    font-weight: 600;
}

.tron-theme .nav-list li a {
    font-family: 'Array', sans-serif;
    color: #C063E8;
    text-shadow: 3px 3px #E02B32;
}

.tron-theme .nav-list li a:hover {
    color: rgba(248,217,18,1);
}
.tron-theme .nav-list li a:active {
    color: #E02B32;
    text-shadow: 3px 3px rgba(248,217,18,1);

}


.color-theme .nav-list li a {
    font-family: 'Fredoka', sans-serif;
}

.color-theme .nav-projects {
    color: #FF4000;
}
.color-theme .nav-projects:hover {
    color: #AB340E;
}
.color-theme .nav-resume {
    color: #9B7EDE;
}
.color-theme .nav-resume:hover {
    color: #6D5A99;
}
.color-theme .nav-fun {
    color: #70B8FF;
}
.color-theme .nav-fun:hover {
    color: #5C92C9;
}
.box-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 84%;
    height: fit-content;
    padding-block: 12px;
    border-radius: 13px;
}

.color-theme .about-me-title {
    color: #FF4000;
}

.tron-theme .about-me-container {
    display: none;
}
.color-theme .about-me-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.color-theme .about-me-paragraph {
    position: sticky;
    top: 74px;
    left: 9%;
    width: 82%;
    margin-left: 9%;
    margin-block: 10%;
    z-index: 2;
}

.color-theme #projects h2 {
    color: #70B8FF;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5vw;
    margin-bottom: 50px;
    justify-content: space-around;
}
.project-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    text-align: left;
    width: 40%;
    background-color: #2c2957;
    border: 3px solid #C063E8;
    border-radius: 13px;
    padding-inline: 2% 3%;
}

.color-theme .project-box {
    position: relative;
    background-color: unset;
    border: none;
    padding-inline: 0;
    margin-inline: 2% 3%;

}
.tron-theme .project-background {
    display: none;
}
.color-theme .project-background {
    position: absolute;
    height: 100%;
    width: 100%;
}
.project-header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.color-theme .project-header {
    z-index:2;
    width:80%;
    margin-inline: 10%;
    margin-top: 8%;
}
.color-theme .project-content {
    margin: 0 8% 8%;
    z-index:2;
}

.color-theme .fun-container {
    position: relative;
    height: 270px;
    width: 76%;
}
.tron-theme .fun-background {
    display: none;
}
.color-theme .fun-background {
    position: absolute;
    top:0;
    left: 0;
    height: 270px;
    width: 100%;
    background-color: #FDBA35;
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.color-theme .fun-items {
    position: absolute;
    width: 100%;
    height: 100%;
}
.fun-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-theme .bordered-title {
    position: relative;
    width: 176px;
    height: 32px;
}
.color-theme .contact {
    position: absolute;
    top: 0;
    left: 0;
    color: #BBF100;

}

.color-theme .contact-container {
    position: relative;
    height: 270px;
    top: 11vh;

}
.tron-theme .contact-background {
    display: none;
}
.color-theme .contact-background {
    position: absolute;
    left: -120px;
}
.color-theme .contact-items {
    position: absolute;
    width: 201px;
    top: 49px;
    left: -100px;
}
.tron-theme .black-logo {
    display: none;
}
.color-theme .green-logo {
    display: none;
}

.footer {
    margin: auto;
    background: none;
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-size: 20pt;
    display: flex;
    justify-content: center;
}
.tron-theme .text-footer {
    font-family: 'Array', sans-serif;
    color: #E02B32;
    text-shadow: 1px 1px #C063E8;
}
.color-theme .text-footer {
    font-family: 'Fredoka', sans-serif;
    color: #9B7EDE;
    font-weight: 600;
}

/* adjust contents for smaller screen sizes */
@media screen and (max-width: 992px) {
    .switch {
        top: 54px;
        right: 20px;
    }
  h1 {
    font-size: 70px;
  }
  .tron-theme .name-bar {
      height: 194px;
      width: 80%;
      font-size: 11vw;
      border: 12px solid #64FA49;
      border-radius: 30px;
  }
  .color-theme .name-bar {
      font-size: 12vw;
  }
    .color-theme .name-border {
      width: 88%;
      margin-left: 6%;
  }
  .nav-box {
    height: auto;
  }

  .nav-list {
      margin-block: 10px;
  }
    .tron-theme .nav-list li a {
        font-size: 24px;
        text-shadow: 2px 2px #E02B32;
    }
    .color-theme .nav-list li a {
        font-size: 26px;
    }

  .to-top-btn {
    visibility: hidden;
  }
  .box-main {
      width: 90%;
      padding-block: 10px;
  }
    .color-theme .about-me-paragraph {
        margin-block: 30%;
    }

  .projects-container {
      width: 100%;
      margin-top: 20px;
  }
  .project-box {
      width: 100%;
  }
    .color-theme .project-content {
        margin: 0 10% 10%;
    }

    .color-theme .fun-container {
        height: 300px;
        width: 98%;
    }
    .color-theme .fun-background {
        height: 300px;
    }


}

/* adjust contents for smaller screen sizes */
@media screen and (max-width: 600px) {
    .tron-theme .name-bar {
        font-size: 16vw;
    }

    .color-theme .about-me-paragraph {
        margin-block: 44%;
    }
}