html {
    --border-color: #FF3EA5;
    --pepto-pink: #f68fe0;
    --other-pink: #F218A0;
    --baby-pink: #F8C7CC;
    --yellow: #F2D20C;
    --bright-green: #B6F20C;

    --t1-blk: #000000;
    --t1-bby-pow: #FFFFFC;
    --t1-lime: #B6F20C;
    --t1-amber: #FF7F11;
    --t1-red-orng: #FF3F00;

    --t2-dar: #DAFF7D;
    --t2-granny: #B2EF9B;
    --t2-rssn-grn: #82A183;
    --t2-blu-jns: #5DA9E9;
    --t2-lav: #D8DCFF;
    --t2-blurp: #AEADF0;
    --t2-inpurp: #5956E0;
    --t2-mrgold: #ECA72C;
    --t2-honey: #F6AE2D;
    --t2-flame: #EE5622;
    --t2-indep: #505168;
    --t2-drk-prp: #27233A;

    --color-spot: #509bf5;
    --color-azure: #3e8ef1;
    --color-drk-azure: #1172EB;
    --color-storm: #a4c9d8;
    --color-tangerine: #ff4935;
    --color-citric: #cdf567;
    --color-sunflower: #ffbc4b;
    --color-pink: #ffd0d5;
    --color-salmon: #fb7ea8;
    --color-factory-yellow: #ffe818;
    --color-black: #171313;
    --color-white: #fff;
    --color-muted-black: #837e7e;

    --1-gold: #F0CF65;
    --1-green: #1F7241;
    --1-red: #A71F2D;
    --1-orange: #BD6638;
    --1-lorange: #F5D8CE;
    --1-lllorange: #FAECE7;
    --1-llorange: #F5D8CE;
    --1-lblue: #286BA2;
    --1-black: #171614;
    --1-space: #101444;

    /* CSS HEX */
    --sunray: #D7A75Aff;
    --light-sky-blue: #9FD6FCff;
    --maize-crayola: #EBBF43ff;
    --pale-pink: #EACBC7ff;
    --orange-red-crayola: #F66150ff;
    --smoky-black: #0A0806ff;


    /* SCSS Gradient */
    --gradient-top: linear-gradient(0deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-right: linear-gradient(90deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-bottom: linear-gradient(180deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-left: linear-gradient(270deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-top-right: linear-gradient(45deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-bottom-right: linear-gradient(135deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-top-left: linear-gradient(225deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-bottom-left: linear-gradient(315deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-radial: radial-gradient(#D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);


    --grn-grad: linear-gradient(180deg, var(--t2-dar) 0%, var(--t2-granny) 50%, var(--t2-rssn-grn) 100%);
    --red-grad: linear-gradient(180deg, var(--t1-amber) 0%, var(--t2-rssn-grn) 100%);
}

:root {
    background: #090540;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
    color: var(--t2-blurp);

}

body {
    margin: 0;
    padding: 0;
    font-family: monospace, 'Space Grotesk', 'Zodiak', serif;
    font-size: 22pt;
    font-weight: 500;
    overflow-x: clip;
    color: #64FA49;
    -ms-overflow-style: none;  /* IE and Edge *!*/
    scrollbar-width: none;  /* Firefox *!*/
}

h1 {
    font-family: 'Array', 'Rubik Mono One', 'Boxing', sans-serif;
    font-size: 40pt;
    font-weight: 600;
    color: rgba(248,217,18,1);
    text-shadow: 3px 3px #E1333A;
}

.big-papa {
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background: none;
    margin: 13% 0 0;
}

.to-top-btn {
    position: fixed;
    bottom: 8%;
    right: 1%;
    height: 62px;
    width: 62px;
    transform: rotate(90deg);
    text-shadow: 4px 0 #64FA49;
    font-size: 30px;
    justify-content: end;
    align-content: end;
    font-family: 'Rubik Mono One', 'Comic Sans MS', sans-serif;
}

.to-top-btn:active {
    transform: translateY(6px);
}

.name-bar {
    z-index: 11;
    margin-block: 0;

    margin-top: 0;
    margin-bottom: 3%;
    padding: 0;
    display: flex;
    justify-content: center;
    border-radius: 13px;
    height: 144px;
    /*mix-blend-mode: difference;*/
    /*backdrop-filter: invert(100%);*/
    /*-webkit-backdrop-filter: invert(100%);*/
}
.name-bar:active {
    transform: skewY(19deg);
    letter-spacing: 7px;
    font-size: 28pt;
    font-family: "Comic Sans MS", "sans-serif";
    font-weight: bolder;
}

.hey-world {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.nav-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    margin: 0;
    padding: 0;
    height: 13%;
    background: #090540;
}
.nav-box:start {
    background: #090540;

}
.nav-list {
    margin-inline: 2%;
    margin-left: 16%;
    margin-block: 1%;
    padding: 0;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    -webkit-align-content: space-between;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    font-family: 'Array', 'Rubik Mono One', 'Boxing', sans-serif;
    font-size: 30pt;
    font-weight: 600;
    color: #C063E8;
    text-shadow: 1px 1px #E1333A, 2px 2px #E1333A, 3px 3px #E1333A;
}

.nav-list li a:hover {
    color: var(--1-gold);
}

.pics-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 90%;
    height: 230px;
    background: none;
    margin-inline: auto;
}
.pic-item {
    display: flex;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid var(--1-lorange);
    background: linear-gradient(305deg, rgb(245, 216, 206) 0%, rgb(108, 87, 77) 50%, rgb(249, 233, 227) 100%);
}
.pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: -7px;
    margin-left: -7px;
}

.box-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 84%;
    height: fit-content;
    padding-block: 12px;
    border-radius: 13px;
}

.footer {
    margin: auto;
    background: none;
}

.special-h2 {
    font-weight: 700;
    font-size: 40pt;
    letter-spacing: 2px;
    color: var(--color-azure);
    text-shadow: 0 2px var(--t2-flame), 2px 0 var(--t2-flame), 0 -2px var(--t2-flame), -2px 0 var(--t2-flame), 1px 1px var(--t2-flame), -1px -1px var(--t2-flame), -1px 1px var(--t2-flame), 1px -1px var(--t2-flame);
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Array', 'Rubik Mono One', 'Ubuntu', sans-serif;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    color: var(--1-red);
    text-shadow: 2px 2px #d1868a;
}