.to-top-btn {
    position: fixed;
    right: 0;
    padding: 16px;
    justify-content: end;
    align-content: end;
}

.color-theme .to-top-btn {
    bottom: 0;
}

.tron-theme .to-top-btn {
    transform: rotate(90deg);
    text-shadow: 2px 2px #E02B32;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Array-Bold', sans-serif;
    bottom: 32px;
}

.words {
    color:#C063E8;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .to-top-btn {
        visibility: hidden;
    }
}