
.nav-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  margin: 0;
  padding: 0;
  background: #090540;
}
.nav-box:start {
  background: #090540;

}
.nav-list {
  width: 90%;
  margin-inline: auto;
  padding: 0;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  -webkit-align-content: space-between;
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  font-family: 'Array', 'Rubik Mono One', 'Boxing', sans-serif;
  font-size: 30pt;
  font-weight: 600;
  color: #C063E8;
  text-shadow: 3px 3px #E02B32;
}

.nav-list li a:hover {
  color: rgba(248,217,18,1);
}

/* Accommodate for smaller screen sizes */
@media screen and (max-width: 1024px) {
  .nav-list {
    flex-direction: column;
    gap: 3px;
  }
}