html { 
    --border-color: #FF3EA5;
    --pepto-pink: #f68fe0;
    --other-pink: #F218A0;
    --baby-pink: #F8C7CC;
    --yellow: #F2D20C;
    --bright-green: #B6F20C;

    --green-p1: #DAFF7D;
    --green-p2: #B2EF9B;
    --rssn-grn: #82a183;

    --t1-blk: #000000;
    --t1-bby-pow: #FFFFFC;
    --t1-lime: #B6F20C;
    --t1-amber: #FF7F11;
    --t1-red-orng: #FF3F00;

    --t2-dar: #DAFF7D;
    --t2-granny: #B2EF9B;
    --t2-rssn-grn: #82A183;
    --t2-mrgold: #ECA72C;
    --t2-flame: #EE5622;
    --t2-indep: #505168;
    --t2-drk-prp: #27233A;

    --grn-grad: linear-gradient(180deg, var(--t2-dar) 0%, var(--t2-granny) 50%, var(--t2-rssn-grn) 100%);
}

:root {
    background: var(--t2-dar);
}

body {
    margin: 0;
    padding: 0;
    font-family: HK Grotesk,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,sans-serif;
    font-weight: 800;
    font-size: 20 pt;
}

.big-papa {
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-content: space-between;
    column-gap: 8px;
    flex-basis: auto;
    width: auto;
    height: auto;
	margin: 0;
    background: none;
}

.navbar-box {
	display: flex;
    flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	width: 86%;
    height: auto;
    padding-block: 6px;
    background: var(--t2-granny);
    box-shadow: 3px 3px var(--t2-rssn-grn);
}

.nav-list {
	display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
	align-items: center;
}

.nav-list li {
	list-style: none;
	padding: 26px 30px;
}

.nav-list li a {
	text-decoration: none;
    color: var(--t2-drk-prp);
}

.nav-list li a:hover {
	text-shadow: 1px 1px var(--t2-flame);
}

.box-main {
	display: flex;
    flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 86%;
    height: fit-content;
    padding-block: 12px;
    background: var(--t2-granny);
}

.footer {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
	background: none;
}

.special-h2 {
    color: var(--t2-flame);
    text-shadow: 2px 2px var(--t2-indep);
}

.text-big {
	font-weight: 800;
	font-size: 110pt;
    color: var(--t2-indep);
    text-shadow: 1px 1px var(--t2-mrgold);
    text-shadow: 2px 2px var(--t2-flame);
    text-shadow: 3px 3px var(--t2-drk-prp);
}

.text-medium {
	font-weight: 800;
	font-size: 40pt;
    color: var(--t2-drk-prp);
    text-shadow: 2px 2px var(--t2-indep);
}

.text-small {
	font-size: 18pt;
}

.text-footer {
	text-align: center;
	padding: 30px 0;
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	justify-content: center;
	color: var(--t2-flame);
}