html { 
    --border-color: #FF3EA5;
    --pepto-pink: #f68fe0;
    --other-pink: #F218A0;
    --baby-pink: #F8C7CC;
    --yellow: #F2D20C;
    --bright-green: #B6F20C;

    --t1-blk: #000000;
    --t1-bby-pow: #FFFFFC;
    --t1-lime: #B6F20C;
    --t1-amber: #FF7F11;
    --t1-red-orng: #FF3F00;

    --t2-dar: #DAFF7D;
    --t2-granny: #B2EF9B;
    --t2-rssn-grn: #82A183;
    --t2-blu-jns: #5DA9E9;
    --t2-lav: #D8DCFF;
    --t2-blurp: #AEADF0;
    --t2-inpurp: #5956E0;
    --t2-mrgold: #ECA72C;
    --t2-honey: #F6AE2D;
    --t2-flame: #EE5622;
    --t2-indep: #505168;
    --t2-drk-prp: #27233A;
    
    --color-spot: #509bf5;
    --color-azure: #3e8ef1;
    --color-drk-azure: #1172EB;
    --color-storm: #a4c9d8;
    --color-tangerine: #ff4935;
    --color-citric: #cdf567;
    --color-sunflower: #ffbc4b;
    --color-pink: #ffd0d5;
    --color-salmon: #fb7ea8;
    --color-factory-yellow: #ffe818;
    --color-black: #171313;
    --color-white: #fff;
    --color-muted-black: #837e7e;

    --1-gold: #F0CF65;
    --1-green: #1F7241;
    --1-red: #A71F2D;
    --1-orange: #BD6638;
    --1-lorange: #F5D8CE;
    --1-lllorange: #FAECE7;
    --1-llorange: #F5D8CE;
    --1-lblue: #286BA2;
    --1-black: #171614;
    --1-space: #101444;

    /* CSS HEX */
    --sunray: #D7A75Aff;
    --light-sky-blue: #9FD6FCff;
    --maize-crayola: #EBBF43ff;
    --pale-pink: #EACBC7ff;
    --orange-red-crayola: #F66150ff;
    --smoky-black: #0A0806ff;


    /* SCSS Gradient */
    --gradient-top: linear-gradient(0deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-right: linear-gradient(90deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-bottom: linear-gradient(180deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-left: linear-gradient(270deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-top-right: linear-gradient(45deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-bottom-right: linear-gradient(135deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-top-left: linear-gradient(225deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-bottom-left: linear-gradient(315deg, #D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);
    --gradient-radial: radial-gradient(#D7A75Aff, #9FD6FCff, #EBBF43ff, #EACBC7ff, #F66150ff, #0A0806ff);


    --grn-grad: linear-gradient(180deg, var(--t2-dar) 0%, var(--t2-granny) 50%, var(--t2-rssn-grn) 100%);
    --red-grad: linear-gradient(180deg, var(--t1-amber) 0%, var(--t2-rssn-grn) 100%);
}

:root {
    background: #FAECE7;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', 'Zodiak', serif;
    font-size: 22pt;
}

h1 {
    font-family: 'Rubik Mono One', 'Boxing', sans-serif;
    font-size: 40pt;
    color: #F96900;
    text-shadow: 3px 3px #D0A5C0;
}

.big-papa {
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
	margin: 0;
    background: none;
}

.to-top-btn {
    text-decoration: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    height: 62px;
    width: 62px;
    border-radius: 50%;
    font-size: 50px;
    transform: rotate(180deg);
    justify-content: end;
    align-content: end;
    background: var(--1-gold);
    box-shadow: -3px -3px #D2AD42;
    font-family: 'Rubik Mono One', 'Comic Sans MS', sans-serif;
}

.papa-name-bar {
    position: relative;
    width: 80%;
    display: flex;
    border-radius: 13px;
    background: image("../public/universe.jpg");

    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    height: 200px;

}
.name-bar {
    position: absolute;
    z-index:2;
	display: flex;
	justify-content: center;
    top: 0;
    left: 0;
	width: 100%;
    height: 200px;
    border-radius: 13px;
    /*mix-blend-mode: difference;*/
    /*backdrop-filter: invert(100%);*/
    /*-webkit-backdrop-filter: invert(100%);*/
}

.papa-name-bar:hover {
    font-family: "Comic Sans MS", "sans-serif";
}

.hey-world {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.nav-list {
	display: flex;
    align-self: center;
    align-content: space-between;
    justify-content: space-between;
    -webkit-align-content: space-between;
}

.nav-list li {
	list-style: none;
    padding-inline: 32px;
}

.nav-list li a {
	text-decoration: none;
    font-family: 'Rubik Mono One', 'Boxing', sans-serif;

    font-size: 28pt;
    /*letter-spacing: 3px;*/
    color: #87CEE7;
    text-shadow: 2px 2px #637f88;
}

.nav-list li a:hover {
    color: var(--1-gold);
}

.pics-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 90%;
    height: 230px;
    background: none;
    margin-top: 40px;
}

.pic-box {
    display: flex;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border: 1px solid var(--1-lorange);
    background: linear-gradient(305deg, rgb(245, 216, 206) 0%, rgb(108, 87, 77) 50%, rgb(249, 233, 227) 100%);
    /*background: linear-gradient(305deg, rgb(245, 216, 206) 0%, rgb(94, 74, 64) 50%, rgb(249, 233, 227) 100%);*/
}
.pic {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: -7px;
    margin-left: -7px;
}

.box-main {
	display: flex;
    flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 86%;
    height: fit-content;
    padding-block: 12px;
    border-radius: 13px;
}

.footer {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
	background: none;
}

.special-h2 {
	font-weight: 700;
    font-size: 40pt;
    letter-spacing: 2px;
    color: var(--color-azure);
    text-shadow: 0px 2px var(--t2-flame), 2px 0px var(--t2-flame), 0px -2px var(--t2-flame), -2px 0px var(--t2-flame), 1px 1px var(--t2-flame), -1px -1px var(--t2-flame), -1px 1px var(--t2-flame), 1px -1px var(--t2-flame);
}

.text-big {
	font-weight: 900;
	font-size: 110pt;
    letter-spacing: 10px;
    word-spacing: 4px;
    color: var(--color-azure);
    text-shadow: 0px 6px var(--color-storm), 6px 0px var(--color-storm), 0px -6px var(--color-storm), -6px 0px var(--color-storm), 3px 2px var(--color-storm), -3px -3px var(--color-storm), -3px 3px var(--color-storm), 3px -3px var(--color-storm);
}

.text-medium {
	font-weight: 800;
	font-size: 40pt;
    color: var(--t2-drk-prp);
    text-shadow: 2px 2px var(--t2-indep);
}

.text-small {
	font-size: 18pt;
    font-family: 'Space Grotesk', 'Zodiak', serif;
    font-weight: 700;
    color: var(--color-black);
    /*text-shadow: 0px 2px var(--color-spot), 2px 0px var(--color-tangerine), 0px -2px var(--color-tangerine), -2px 0px var(--color-spot), 1px 1px var(--color-spot), -1px -1px var(--color-spot), -1px 1px var(--color-spot), 1px -1px var(--color-tangerine);*/
}

.text-footer {
	text-align: center;
	padding: 30px 0;
	font-family: 'Rubik Mono One', 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 20pt;
	display: flex;
	justify-content: center;
	color: var(--1-red);
    text-shadow: 2px 2px #d1868a;
}